<!DOCTYPE html>
<head>

</head>
<body>
	<h1>Recipes Sorted by <%= attribute %></h1>
	<div class="recipe-list">
		<table>
			<tbody>
				<tr>
					<th>Name |</th>
					<th> Category |</th>
					<th> Cooktime |</th>
					<th> Servings</th>
				</tr>				
				<% for x in box %>
					<%= tableRow(x) %>
				<% end %>				
			<tbody>	
		</table>		
	</div>
</body>